// Colors
$colors: (
  primary: #02afe9,
  primary-light: #99dff6,
  primary-dark: darken(#02afe9, 10),
  primary-trans: rgba(#02afe9, 0.7),
  primary-trans-light: rgba(#02afe9, 0.2),
  secondary: #6bfbbe,
  secondary-trans: rgba(#6bfbbe, 0.7),
  secondary-trans-light: rgba(#6bfbbe, 0.5),
  white: #fff,
  trans-white: rgba(255, 255, 255, 0.9),
  trans-light-white: rgba(255, 255, 255, 0.7),
  light-blue: #f5f8fa,
  blue: darken(#f5f8fa, 10),
  dark-grey: #555b69,
  error: #ff3f34
);

// Typography
$font: (
  family-main: #{'Open Sans',
  Helvetica,
  Arial,
  sans-serif},
  family-heading: #{'Comfortaa',
  Helvetica,
  Arial,
  sans-serif}
);
