.page {
  min-height: calc(100vh - 9rem);
  padding-top: 8rem;

  @include tablet-large {
    padding: 6rem 0;
  }

  @include phone {
    min-height: calc(100vh - 11.9rem);
  }

  @include phone-small {
    padding: 4rem 0 10rem 0;
  }
}
